.carrossel{
    text-align: center;
}

.carrossel__titulo{
    color: var(--laranja);
    font-weight: 700;
    font-size: 18px;
    padding: 1em 0 .5em 0;
    background-color: var(--branco);
    text-transform: uppercase;
}

.swiper-button-prev, 
.swiper-button-next{
    display: none;
}
.swiper-pagination{
    position: initial;
    margin: .3em 0 .5em 0;
}

.swiper-slide img{
    width: 100%;
}

.card{
    margin: 1em;
    padding: 1em;
    background-color: var(--branco);
    border-radius: 10px;
}

.card__descricao,
.card__botoes{
    display: flex;
    justify-content: space-between;
}

.card__descricao{
    text-align: start;
    margin-bottom: 1em;
}

.descricao__titulo{
    color: var(--laranja);
    font-weight: 700;

}

.descricao__titulo-livro,
.descricao__titulo-nome{
    font-size: 18px;
    font-weight: 700;
    margin: .5em 0;
}

.descricao__texto{
    font-size: 14px;
}

.botoes{
    display: flex;
}

.botoes__ancora{
    padding: 1em 2.2em;
    background-color: var(--laranja);
    color: var(--branco);
    text-decoration: none;
    font-weight: 700;
}

.descricao__avaliacao{
    padding-bottom: .3em;
}