.cabecalho{
    background-color: var(--branco);
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__menu-hamburguer{
    height: 24px;
    width: 24px;
    background-image: url(../img/Menu.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    width: 65vw;
}

.container__botao{
    display: none;
}

.container__botao:checked ~ .lista-menu{
    display: block;
    position: absolute;
    top: 100%;
}

.lista-menu__itens, 
.lista-menu__titulo{
    padding: 1em 1em 1em 2em;
    background-color: var(--branco);    
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.cabecalho__titulo,
.menu__link,
.menu__categoria,
.container__texto{
    display: none;
}


@media screen and (min-width: 1024px){
    
    .container__menu-hamburguer,
    .sacola-favoritos{
        display: none;
    }

    .cabecalho__titulo,
    .menu__link,
    .menu__categoria{
        display: block;
    }

    .cabecalho{
        padding: .5em 1em;
    }

    .titulo__link{
        text-decoration: none;
        color: var(--preto);
        font-size: 30px;
        font-family: var(--fonte-secundaria);
    }

    .titulo__negrito{
        font-weight: 700;
    }

    .container__botao:checked ~.lista-menu{
        top: 83%;
    }

    .menu{
        display: flex;
        gap: 1.5em;
    }

    .menu__link{
        text-decoration: none;
    }

    .menu__categoria{
        display: flex;
        align-items: center;
    }

    .menu__texto,
    .menu__link{
        text-transform: uppercase;
        padding: 1em;
        color: var(--preto);
    }


    .container__botao:checked ~ .menu__categoria > .menu__texto{
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .lista-menu{
        width: auto;
    }

    .lista-menu__itens:hover{
        background: var(--azul-degrade);
    }

    .lista-menu__itens:hover > .lista-menu__link{
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

    
}

@media screen and (min-width: 1728px){
    .container__texto{
        display: block;
    }
    
    .cabecalho{
        padding: 0 3em;
    }
    
    .menu{
        margin: 0 auto 0 3em;
    }

    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
        font-size: 20px;
        padding-right: 1em;
    }
}
