.cabecalho{
    background-color: var(--branco);
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__menu-hamburguer{
    height: 24px;
    width: 24px;
    background-image: url(../img/Menu.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    width: 65vw;
}

.container__botao{
    display: none;
}

.container__botao:checked~.lista-menu{
    display: block;
    position: absolute;
    top: 100%;
}

.lista-menu__itens, 
.lista-menu__titulo{
    padding: 1em 1em 1em 2em;
    background-color: var(--branco);    
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

